body {
  direction: rtl;
}

.voters {
  float: right !important;
}

ol.comments {
 margin-left: 0;
 margin-right: 30px;
}

div.markdown_help_label {
  float: left !important;
}

.markdown_help {
  direction: ltr;
}

.byline>div.via {
  display: inline-block;
}

.boxline>label {
  float: right;
}

.upvoter {
  margin-right: 14px;
  margin-left: 0;
}

.comment {
  border: 1px solid rgba(14, 14, 14, 0.04);
}

.box.wide label {
  clear: both;
  float: right !important;
}

.inline-block {
  display: inline-block;
}

#gravatar {
  position: absolute;
  right: 75%;
}

.legend.right {
  float: left !important;
}

blockquote.rtl {
  padding: 0 1em 0 0 !important;
  border-left: 2px solid gray !important;
  border-right: 0px !important;
}